.header__wrapper-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;
  /* 
  justify-content: space-between;
  align-items: center;
  width: 100%; */
 /*  display: flex;
  margin: 0 auto; */
  /* padding: 0 20px; */
  /* height: 41px; */
}