.header__wrapper-top {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 500px) {
  .header__wrapper-top {
    width: fit-content;
    padding: 0;
  }
}