.banner__btn-text {
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  transition: 0.3s ease;
}

@media (min-width: 425px) {
  .banner__btn-text {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .banner__btn-text {
    font-size: 17px;
  }
}
