.profile {
  flex-shrink:0;
  width: 148px;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-left: 1px solid #EBEBF1;
}

@media (max-width: 499px) {
  .profile {
    display: none;
  }
}

.profile:hover {
  cursor: pointer;
}