.banner__subtitle {
  color: white;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  margin: 10px 0 12px;
  max-width: 50%;
}

@media (min-width: 375px) {
  .banner__subtitle {
    font-size: 12px;
    margin: 12px 0 15px;
  }
}

@media (min-width: 425px) {
  .banner__subtitle {
    font-size: 12px;
  }
}

@media (min-width: 580px) {
  .banner__subtitle {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .banner__subtitle {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media (min-width: 1023px) {
  .banner__subtitle {
    font-size: 25px;
    margin: 20px 0 30px;
  }
}

