.search-bar__input {
  width: 100%;
  height: 41px;
  border: none;
  background-color: #FFFFFF;
  background-image: url('../../../images/header-search-icon.png');
  background-position: 21px center;
  background-repeat: no-repeat;
  padding-left: 46px;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #BBC4D6;
}

@media (min-width: 500px) {
  .search-bar__input {
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    height: 40px;
  }
}