.content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* @media (min-width: 768px) {
  .content {
    max-width: 728px;
  }
}

@media (min-width: 1440px) {
  .content {
    max-width: 1170px;
  }
} */