.content__narrow {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .content__narrow {
    margin: 0 20px;
  }
}

@media (min-width: 1210px) {
  .content__narrow {
    margin: 0;
    max-width: 1170px;
  }
}