.footer__link {
  margin: 0 18px 0 0;
  font-size: 14px;
  color: #768298;
  font-style: normal;
  font-weight: normal;
  line-height: 1.12;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.footer__link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer__link {
    display: block;
    margin-bottom: 32px;
  }
}