.footer__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 767px) {
  .footer__links {
    flex-direction: row;
    margin-bottom: 16px;
  }
}