.partners__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px auto 73px;
}

@media (min-width: 768px) {
  .partners__container {
    grid-gap: 30px;
  }
}

@media (min-width: 1023px) {
  .partners__container {
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
