.profile__userpic {
  background-image: url('../../../images/userpic.jpg');
  content: '';
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}