.header__user-button {

  width: 24px;
  height: 24px;
  border: none;
  background: url(../../../images/user-button.svg) center no-repeat;
  background-color: inherit;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.header__user-button:hover {
  opacity: 0.6;
}

@media (min-width: 500px) {
  .header__user-button {
    display: none;
  }
}