@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/__narrow/content__narrow.css);
@import url(../blocks/header/__user-button/header__user-button.css);
@import url(../blocks/search-bar/search-bar.css);
@import url(../blocks/search-bar/__form/search-bar__form.css);
@import url(../blocks/search-bar/__input/search-bar__input.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_header/logo_header.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__wrapper-top/header__wrapper-top.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__userpic/profile__userpic.css);
@import url(../blocks/partners/__container/partners__container.css);
@import url(../blocks/partners/partners.css);
@import url(../blocks/partners/__card/partners__card.css);
@import url(../blocks/partners/__logo/partners__logo.css);
@import url(../blocks/title/title.css);
@import url(../blocks/title/_section/title_section.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__item/_active/menu__item_active.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/menu/__text/menu__text.css);
@import url(../blocks/banner/banner.css);
@import url(../blocks/banner/__container/banner__container.css);
@import url(../blocks/banner/__pic/banner__pic.css);
@import url(../blocks/banner/__cta/banner__cta.css);
@import url(../blocks/banner/__title/banner__title.css);
@import url(../blocks/banner/__subtitle/banner__subtitle.css);
@import url(../blocks/banner/__btn/banner__btn.css);
@import url(../blocks/banner/__btn-container/banner__btn-container.css);
@import url(../blocks/banner/__btn-text/banner__btn-text.css);
@import url(../blocks/banner/__container/_visible/banner__container_visible.css);
@import url(../blocks/banner/__wrapper-cta/banner__wrapper-cta.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
