@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url(../vendor/normalize.css);
@import url(../blocks/root/root.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/__narrow/content__narrow.css);
@import url(../blocks/header/__user-button/header__user-button.css);
@import url(../blocks/search-bar/search-bar.css);
@import url(../blocks/search-bar/__form/search-bar__form.css);
@import url(../blocks/search-bar/__input/search-bar__input.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_header/logo_header.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__wrapper-top/header__wrapper-top.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__userpic/profile__userpic.css);
@import url(../blocks/partners/__container/partners__container.css);
@import url(../blocks/partners/partners.css);
@import url(../blocks/partners/__card/partners__card.css);
@import url(../blocks/partners/__logo/partners__logo.css);
@import url(../blocks/title/title.css);
@import url(../blocks/title/_section/title_section.css);