.banner__title {
  font-size: 20px;
  color: white;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  max-width: 60%;
}

@media (min-width: 580px) {
  .banner__title {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .banner__title {
    font-size: 40px;
  }
}

@media (min-width: 1023px) {
  .banner__title {
    font-size: 60px;
  }
}
