.banner__btn-container {
  display: flex;
  justify-content: center;
  border: 1px solid #ebebf1;
  border-radius: 5px;
  transition: 0.3s ease;
  padding: 15px 25px;
  max-width: 150px;
}

.banner__btn-container:hover {
  background-color: white;
}
