.banner__btn-container {
  display: flex;
  justify-content: center;
  border: 1px solid #ebebf1;
  color: white;
  border-radius: 5px;
  transition: 0.3s ease;
  padding: 12px 18px;
  max-width: 80%;
}

.banner__btn-container:hover {
  background-color: white;
  color: black;
}

@media (min-width: 425px) {
  .banner__btn-container {
    padding: 15px 25px;
  max-width: 80%;
  }
}

@media (min-width: 580px) {
  .banner__btn-container {
    padding: 15px 25px;
    max-width: 150px;
  }
}